# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Logs
logs/
*.log

# Properties files with sensitive information
src/main/resources/config.properties

# Mac
.DS_Store

# Windows
Thumbs.db
